body{
    display: inline-block;
    vertical-align: text-top;
    background-color: #373738;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 300px;
    width: 300px;
    outline: 2px white; solid;
    margin: 20px;
}

img{
    padding: 1%;
    width: 50%;
    height: 50%;
}